
#header-container
  nav.nav#header(class=['is-' + appconfig.theme.primary], ref='header')
    .nav-left
      block rootNavLeft
        a.nav-item(href='/')
          h1(style="font-family:consolas,monospace")
            img(src="/images/m/logo.svg",style="height:32px;vertical-align:middle;margin:-2px 5px 0 0")
            = appconfig.title
    .nav-center
      block rootNavCenter
        search
    span.nav-toggle
      span
      span
      span
    .nav-right
      block rootNavRight
        loading-spinner
